@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700&subset=latin,cyrillic-ext);

body {
  margin: 0;
  font-family: "Roboto", Calibri, Candara, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
  background: url(../images/bg_index.jpg) no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
	background-color: #352919;
}

a {
	color: #fff;
	text-decoration: none;
}

img {
	opacity: 0.5;
	margin: 0 8px;
}

.container {;
	max-width: 90%;
	margin: 0 auto;
	text-align:center;
}

h1 {
	font-size: 7em;
	font-weight: 300;
	margin: 20px auto 0 auto;
}

h2 {
	font-size: 3em;
	font-weight: 200;
	margin: 150px auto 0 auto;
}

.beta {
	font-size: 0.2em;
	font-weight: 200;
	position: absolute;
	margin-top: 20px;
}

h3 {
	font-size: 2em;
	font-weight: 200;
	margin: 50px auto 0 auto;
}

p {
	margin: 40px auto 60px auto;
}

.social {
	margin: 50px auto;
}
.copy {
	font-size: 0.8em;
	margin-top: 80px;
	opacity: 0.7;
}
.login-button {
	display: inline-block;
	padding: 8px;
	border: #fff solid 1px;
	font-weight: 300;
	opacity: 0.6;
}
.attention {
	font-size: 1em;
	opacity: 0.6;
}
.clear {
	clear: both;
}
.logo {
	margin-right: 20px;
}

@media screen and (max-width: 1024px) {
  h2 {
	font-size: 2em;
	margin-top: 120px;
}  
h1 {
	font-size: 6em;
}
h3 {
	font-size: 1.5em;
	margin-top: 20px;}
p {
	margin-top: 50px;
}
.copy {
	font-size: 0.7em;
}
.social {
	margin-top: 50px;
	margin-bottom: 20px;
}
}

@media screen and (max-width: 640px) {
  h2 {
	font-size: 1.5em;
	margin-top: 60px;
}  
h1 {
	font-size: 3.5em;
}
h3 {
	font-size: 1.2em;
	margin-top: 20px;}
p {
	margin-top: 50px;
}
.copy {
	font-size: 0.7em;
}
.social {
	margin-top: 50px;
	margin-bottom: 20px;
}
}

