@charset "utf-8";
body {margin:0;padding:2px;font-size:8pt;width:675px;margin: 0 auto;}
table {width:100%;border-spacing:0;}
tbody {}
td {width:8px;height:16px;padding: 1px;}
h1 {font-size:11pt;font-weight:bold;text-transform:uppercase;}
table.letter {border-collapse:collapse;table-layout: fixed;}
table.letter td {border:#000 1px solid;text-align:center;text-transform:uppercase;width:8px;height:14px;}
div.bord {border-bottom:#000 1px solid;display: inline-block;float: left;}
.w1 {width:calc(9px*1);} .w2 {width:calc(9px*2);} .w3 {width:calc(9px*3);} .w4 {width:calc(9px*4);} .w5 {width:calc(9px*5);}
.w6 {width:calc(9px*6);} .w7 {width:calc(9px*7);} .w8 {width:calc(9px*8);} .w9 {width:calc(9px*9);} .w10 {width:calc(9px*10);}
.w11 {width:calc(9px*11);} .w12 {width:calc(9px*12);} .w13 {width:calc(9px*13);} .w14 {width:calc(9px*14);} .w15 {width:calc(9px*15);}
.w16 {width:calc(9px*16);} .w17 {width:calc(9px*17);} .w18 {width:calc(9px*18);} .w19 {width:calc(9px*19);} .w20 {width:calc(9px*20);}
.w21 {width:calc(9px*21);} .w22 {width:calc(9px*22);} .w23 {width:calc(9px*23);} .w24 {width:calc(9px*24);} .w25 {width:calc(9px*25);}
.w26 {width:calc(9px*26);} .w27 {width:calc(9px*27);} .w28 {width:calc(9px*28);} .w29 {width:calc(9px*29);} .w30 {width:calc(9px*30);}
.w31 {width:calc(9px*31);} .w32 {width:calc(9px*32);} .w33 {width:calc(9px*33);} .w34 {width:calc(9px*34);} .w35 {width:calc(9px*35);}
.w36 {width:calc(9px*36);} .w37 {width:calc(9px*37);} .w38 {width:calc(9px*38);} .w39 {width:calc(9px*39);} .w40 {width:calc(9px*40);}
.w41 {width:calc(9px*41);} .w42 {width:calc(9px*42);} .w43 {width:calc(9px*43);}
@media print {
	
}